
:root {
    --primary-color: #000;
    --primary-color-highligth:#fe8704;
    --bs-body-bg:#fbf0f6;
    --bs-body-font-family:'Urbanist', sans-serif;
}


.header {
    font-family: 'Syne', sans-serif;
    background-color: black;
    z-index: 2;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:#181818;
    padding-top:10%;
    list-style-type: none;
    z-index: 3;
}

.collapse-menu{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}
.collapse-menu span{
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: white;
}
.collapse-menu div{
    /* border: 1px solid #000; */
    padding-bottom: 2rem;
}
.closeNavBtn{
    
}

/* estilos para el hero section */
.hero-section {
    font-family: 'Syne', sans-serif;
    background-image: url('/imagenes/suv-img-header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    position: relative;
    color: white;
    z-index: 1;
    padding-bottom: 5%;
}
.hero-section .btn-primary{
    background-color: white;
    border-color: whitesmoke;
    color: black;
}

/* estilos para seccion tarjetas */
.titulo-seccion-cards{
    font-family: 'Syne' sans-serif;
    font-size: 2em;
    padding-bottom: 2%;
}
.contenedor-titulo-cards{
    padding-top: 5%;
    padding-bottom: 5%;
}

.contenedor-tarjetas{
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}
.card{
 border-radius: 30px;   
}
/* no se aplica el borde, corregir mas adelante  */

/* estilos para el contendor full width */
.contenedor-2colms-big{
    display: flex;
}
.text-content{
    font-family: 'Syne' sans-serif;
}
.bg-cover-left {
    background-image: url('/imagenes/semi-nuevos-bg2.png'); 
    background-size: cover;
    background-position: center;
    height: 500px; 
    color: white;
}

.bg-cover-right {
    background-image: url('/imagenes/remates-bg2.jpg'); 
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

.bg-cover-left,
.bg-cover-right {
    color: white;
    text-align: center; 
    justify-content: center;
}


.footer1{
    background-color: #181818;
}
.footer-text{
    font-family: 'Syne', sans-serif;
}

